<div class="col-12">
    <h2>Right Component</h2>
    <button (click)='postServices()' class="btn">
            {{estadoServices ? 'Ocultar Informacion': 'Ver Informacion'}}
      </button>
    <div *ngIf='estadoServices'>
        <h4>{{titulo}}</h4>
        <table class="table table-dark">
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Body</th>
            </tr>
            <tr *ngFor=" let data of listdate">
                <td>{{data.title}}</td>
                <td>{{data.body}}</td>
            </tr>
        </table>

    </div>
</div>