<footer class="pie">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">Footer Component</h5>
                <p>© Universidad Nacional de Cajamarca</p>
                <p>Facultad de Ingenieria</p>
                <p>Escuela de Ingeniria de Sistemas</p>
            </div>
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">Contacto</h5>
                <ul class="list-unstyled">
                    <li>
                        <p> <i class="fas fa-home mr-3"></i> Jr. San Luis S/N C6</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope mr-3"></i> lmontenegrop14@unc.edu.pe</p>
                    </li>
                    <li>
                        <p><i class="fas fa-phone mr-3"></i> +51 935031373</p>
                    </li>
                    <li>
                        <p><i class="fas fa-print mr-3"></i> +51 361634</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                <h5 class="font-weight-bold text-uppercase mb-4">Redes Soiales</h5>
                <div>
                    <section class="content">
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/leysernilton.montenegroposito " target="_blank" class="icon-facebook"> </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/leyser_montenegro/ " target="_blank" class="icon-instagram"></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCAv5Wk734meC1em2TeJgcLQ?view_as=subscriber " target="_blank" class="icon-youtube"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/LeyserNilton " target="_blank" class="icon-github"></a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/LeyserNilton"> https://github.com/LeyserNilton</a>
    </div>
</footer>