<div class="datos">
    <h3>DATOS COMPONENT</h3>
    <h6> Nombre: {{nombre}}</h6>
    <h6>Email: {{email}}</h6>
    <h6>Direccion: {{direccion}}</h6>
    <h6>Telefono {{telefono}}</h6>
    <div>
        <section class="content">
            <div class="social">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/leysernilton.montenegroposito " target="_blank" class="icon-facebook"> </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/leyser_montenegro/ " target="_blank" class="icon-instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCAv5Wk734meC1em2TeJgcLQ?view_as=subscriber " target="_blank" class="icon-youtube"></a>
                    </li>
                    <li>
                        <a href="https://github.com/LeyserNilton " target="_blank" class="icon-github"></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col p-4">
        <button>Informacion</button>
        <p>Mi nombre es Leyser Montenegro estudiante de la escuela academico profesional de ingenieria de sistemas</p>
    </div>
</div>